modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]
run = "./manage.py runserver"

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "./manage.py runserver"]
deploymentTarget = "cloudrun"
