<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Analista de RH</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'icons/favicon.png'%}" type="image/x-icon"> <!-- Editar para funcionar com o Django-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/area.css'%}"> <!-- Editar para funcionar com o Django -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/area_header.css'%}"> <!-- Editar para funcionar com o Django -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/area_main.css'%}"> <!-- Editar para funcionar com o Django -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/area.footer.css'%}"> <!-- Editar para funcionar com o Django -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cardsAnalista.css'%}">
    
</head>
<body>
    <!-- Header, o cabeçalho da página -->
    <header>
        <h1>Área do Analista de RH</h1>
        <p>Olá, {{ analistarh.nome }}</p>
        <a href="{% url 'login:sair' %}">sair</a>
    </header>
    <main>
        <section>
            <div class="area-opcao">
                <a href="#" target="_self">
                    <p>Manter Professor(a)</p>
                </a>
            </div>
            
            <!-- Botão trocar de senha (link para a rota no Back End) -->
            <div id="trocar-de-senha-button">
                <a href="#">Trocar de Senha</a>
            </div>
        </div>

        <div class="clear"></div>
    </header>
    <!-- Main, onde fica todo o conteúdo principal da página -->
    <head></head>
    
    <main>
        <section> <!-- Coloque o conteúdo dentro desta seção, pois ela é centralizada -->
            <div class="container">
                <div class="card great-cards">
                    <i class="fas fa-user"></i> <!-- Ícone do usuário -->
                    <h3>Manter Professor</h3> <!-- Título -->
                </div>
                <div class="card great-cards">
                    <i class="fas fa-edit" style="line-height: 2; color: rgb(30, 48, 80);"></i> <!-- Ícone de edição -->
                    <h3>Manter Secretário</h3> <!-- Título -->
                </div>
                <div class="card great-cards">
                    <i class="fas fa-chart-bar" style="line-height: 2; color: rgb(30, 48, 80);"></i> <!-- Ícone de bate-papo -->
                    <h3>Manter Analista</h3> <!-- Título -->
                </div>
        </section>
    </main>

    <!-- Footer, o rodapé da página -->
    <footer>
        <!-- Primeira seção do rodapé -->
        <section id="footer-section-1">
            <h2>Mapa do Site</h2>
            <p><a href="#">Trocar de senha</a></p>
            <p><a href="#">Sair</a></p>
        </section>

        <!-- Segunda seção do rodapé -->
        <section id="footer-section-2">
            <h2>Atribuições</h2>
            <p><a href="">site - favicon nome</a></p>
            <p><a href="">site - menu itens</a></p>
        </section>
    </footer>
</body>
</html>