body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
    font-family: Arial;
    background-color: #5964be;
}

p {
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 450px; /* A largura dos cards */
}

footer {
    position: fixed;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background-color: rgb(25, 163, 255);
    text-align: center; /* Alinhar conteúdo ao centro */
    padding-top: 20px; /* Espaço acima do conteúdo do rodapé */
}

.card {
    width: 70px;
    height: 120px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.card i {
    font-size: 60px; /* Tamanho do ícone */
    margin-bottom: 10px; /* Espaço entre o ícone e o conteúdo do card */
    color: rgb(40, 58, 90); /* Cor do ícone */
    line-height: 2; /* Espaçamento entre linhas do ícone */
}

.card h3 {
    font-size: 18px; /* Tamanho do título aumentado */
}