/* ------------------ Estilizando o Main ------------------ */
/* Esse é o template, portanto, não há muito a acrescentar */

/* Peculiaridades da tag main */
main {
    z-index: 1;
    position: relative;
    background-color: var(--cor-terciaria);
    padding: 140px 0px 110px 0px;
    /* height: calc(100vh - 280px); */
    text-align: center;
}

main > section { 
    display: inline-block;
    /* width: 60%;
    height: 60%; */

    position: relative;
    padding-top: 20px;
    /* top: 50%;
    transform: translateY(-50%); */
}

/* Caixa que comporta as opções */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    background-color: #ffffff;
    overflow-y: scroll;
    max-width: calc(190px * 5);
}

.container::-webkit-scrollbar {
    display: none;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Cada opção disponível na página */
.option-item a {
    /* border: 1px solid red; */
    display: inline-block;
    cursor: pointer;
    width: 150px;
    margin: 20px;
    text-align: center;
}

.option-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.option-item img {
    width: 70px;
}

.option-item .option-item-icon {
    /* display: inline-block; */
    min-width: 70px;
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.option-item h3 {
    font-size: 18px; /* Tamanho do título aumentado */
}  

p {
    font-size: 20px;
}

/* ------------------ Deixando a Página mais responsiva ------------------ */
@media screen and (max-width: 450px) {
    /* Remvendo a margin da tag main */
    main {
        padding: 0;
        /* padding-top: 0; */
    }

    .option-item a {
        margin: 10px;
    }
}