/* ------------------ Estilizando o Footer ------------------ */
/* Peculiaridades da tag footer*/
footer {
    bottom: 0px;
    text-align: right;
}

/* Estilizando as sections do rodapé */
footer > section {
    display: inline-block;
    text-align: justify;

    position: relative;
    top: 0%;
    transform: translateY(0%);
}

/* Separando as sections */
#footer-section-1 {
    margin-right: 15px;
}

#footer-section-2 {
    margin-left: 15px;
    font-size: 18px;
}

/* Título de cada section */
footer h2 {
    font-size: 18px;
}


/* ------------------ Deixando a Página mais responsiva ------------------ */
@media screen and (max-width: 800px) {
    /* Tirando o position fixed do footer e outros ajustes */
    footer {
        position: relative;
        text-align: center;
        height: auto;
    }

    /* Refazendo a margin das sections */
    #footer-section-1, #footer-section-2 {
        margin: 10px;
    }
}