/* Styling for the container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #ffffff;
}

/* Styling for the cards */
.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.card i {
    font-size: 60px; /* Tamanho do ícone */
    margin-bottom: 10px; /* Espaço entre o ícone e o conteúdo do card */
    color: rgb(40, 58, 90); /* Cor do ícone */
    line-height: 2; /* Espaçamento entre linhas do ícone */
}
.card h3 {
    font-size: 18px; /* Tamanho do título aumentado */
}  
