* {
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(25, 163, 255);
}

main {
    margin-top: 80px;
    background-color: white;
}

footer {
    position: fixed;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background-color: rgb(25, 163, 255);
}

label {
    display: inline-block;
    width: 50px;
}

div.text-erro {
    display: inline;
    color: red;
}

div.block-erro {
    display: inline-block;
    border: 1px solid rgb(201, 2, 2);
    border-radius: 5px;
    background-color: rgb(255, 149, 149);
    color: rgb(201, 2, 2);
    padding: 7px;
    margin: 5px 0;
}

div.area-opcao {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(231, 231, 231);
    border: 1px solid black;
}
body {
    margin: 0;
    padding: 0;
    background-color: #5964be;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.align-center{
    text-align: center;
}
.container {
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border: 10px solid #ffffff;
    border-radius: 10px;
    text-align: center;
}
.containerMudar {
    max-width: 600px; 
    background-color: #ffffff;
    padding: 60px;
    border: 60px #007bff;
    border-radius: 1px;
    text-align: center;
}
#loginForm input[type="text"],
#loginForm input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#loginForm input[type="submit"] {
    background-color: #575fa2;
    color: #ffffff;
    border: 1px solid #007bff;
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#loginForm input[type="submit"]:hover {
    background-color: #4d559c;
}
.form-group {
    margin-bottom: 5px;
}
        
.form-group label {
    display: flex;
    font-weight: bold;
    margin-bottom: 30px;
}
        
.form-group input {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
        
.btn {
    background-color: #4d559c;
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}