main > section {
    width: 80%;
}

.container, form {
    display: inline-block;
    width: 600px;
    background-color: #ffffff;
    text-align: center;
}
.centered-form {
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    color: #333
}

form button {
    float: right;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: var(--cor-secundaria);
    transition: all 0.3s;
}

form button:hover {
    background-color: var(--cor-secundaria-hover);
    cursor: pointer;
}

form button span {
    font-size: 14.5px;
    color: white;
}

form button img {
    width: 15px;
}

form button[type="submit"] {
    width: 90px;
}

form button[type="button"] {
    width: 90px;
}

.form-input {
    width: 100%;
}

.form-input > label, .form-input > input {
    float: right;
    padding: 8px;
    font-size: 18px;
    margin-bottom: 8px;
    text-align: left;
}

.form-input > label {
    background: rgb(128, 128, 128);
    width: calc(30% - 19px);
    font-weight: bolder;
    color: rgb(214, 214, 214);
}

.form-input > input {
    background: rgb(207, 207, 207);
    width: calc(70% - 19px);
}

.form-input input::placeholder {
    font-size: 15px;
}

.form-input-select {
    /* border: 1px solid red; */
    padding: 8px;
    background: rgb(128, 128, 128);
    color: rgb(214, 214, 214);
    float: right;
    margin-left: 8px;
}

.form-input-select label, .form-input-select input {
    float: right;
}

.form-input-select label {
    width: auto;
    font-weight: bolder;
}

.form-input-select input {
    margin: 3px 8px;
    padding: 5px 5px;
}