<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="shortcut icon" href="{% static 'icons/favicon.png' %}" type="image/x-icon">

    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'css/mudar_senha.css' %}"> -->
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'icons/favicon.png' %}" alt="Imagem de Login">
        <h1 class="align-center">Mudar Senha</h1>

        {% if erros.401 == True %} <div class="block-erro">ID/RA ou senha incorreto.</div> {% endif %}
        {% if erros.400 == True %} <div class="block-erro">A nova senha não pode ser igual a anterior.</div> {% endif %}
        <form id="loginForm" method="PUT" action={% url "login:mudar"  %}>
            <label for="id">ID/RA</label>
            <input type="text" id="id" name="id" placeholder="Seu ID/RA" required>

            <label for="senha_antiga">Atual</label>
            <input type="password" id="senha_antiga" name="senha_antiga" placeholder="Senha atual" required>

            <label for="senha_nova">Nova</label>
            <input type="password" id="senha_nova" name="senha_nova" placeholder="Nova senha" required>

            <input type="submit" value="Trocar Senha">
            <a href="{% url 'login:index' %}">Fazer Login.</a>
        </form>
    </div>
    </main>
</body>
</html>