<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTTP error 403</title>
    
    {% load static %}
    <link rel="shortcut icon" href="{% static 'icons/favicon.png' %}" type="image/x-icon">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/area.css' %}">
</head>
<body>
    <header>
        <h1>HTTP error 403</h1>
        <p>Você não tem permissão para acessar essa página.</p>
    </header>
</body>
</html>