<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Professor</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'icons/favicon.png'%}" type="image/x-icon">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/area.css'%}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/area_header.css'%}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/area_main.css'%}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/area_footer.css'%}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/info.css'%}">
    {% load static %}
    <script src="{% static 'js/manter.js' %}"></script>
</head>
<body>
    <!-- Header, o cabeçalho da página -->
    <header>
        <!-- Ícone do sistema-->
        <div id="header-favicon">
            <img src="{% static 'icons/favicon.png' %}" alt="Íone da Universidade">
        </div>

        <!-- Título (h1) da página -->
        <div id="header-title">
            <h1>
                <a href="{% url 'professor:index'%}">Área do Professor</a>
                <span class="subtitle"> / Conteudo</span>
            </h1>
            <p>Olá, {{professor.nome}}!</p>
        </div>

        <!-- Botões do cabeçalho-->
        <div id="header-buttons">
            <!-- Botão sair (link para a rota no Back End) -->
            <div id="sair-button">
                <a href="{% url 'login:sair' %}">Sair</a>
            </div>
            
            <!-- Botão trocar de senha (link para a rota no Back End) -->
            <div id="trocar-de-senha-button">
                <a href="{% url 'login:mudar_senha_pag' %}">Trocar de Senha</a>
            </div>
        </div>

        <div class="clear"></div>
    </header>

    <!-- Main, onde fica todo o conteúdo principal da página -->
    <main>
        <section> <!-- Coloque o conteúdo dentro desta seção, pois ela é centralizada -->
            <div class="container"> 
                <div id="retornos">
                    {% if status.200 %} <div class="block-success">Cadastro/Alteração realizado(a) com sucesso.</div> {% endif %}
                    {% if status.200_delete %} <div class="block-success">Cadastro apagado com sucesso.</div> {% endif %}
                    {% if status.delete_error %} <div class="block-erro">Erro ao apagar cadastro.</div> {% endif %}
                    {% if status.400 %} <div class="block-erro">Um ou mais dados inseridos são inválidos.</div> {% endif %}
                    {% if status.409 %} <div class="block-erro">Um ou mais dados já pertecem a outro cadastro.</div> {% endif %}
                    {% if status.418 %} <div class="block-erro">Este cadastro não pode ser deletado pois está relacionado à outros.</div> {% endif %}
                    {% if status.500 %} <div class="block-erro">Ocorreu um erro com o servidor.</div> {% endif %}
                </div>
                <form action="{% url 'professor:conteudo_salvar'  %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        {% if cadastro != None %}
                        <button type="button" onclick="redirect_to_cad(`{% url 'professor:conteudo_apagar' %}`,
                        `{{ cadastro.id }}`)">
                            <img src="{% static 'icons/apagar.png' %}" alt="">
                            <span>Apagar</span>
                        </button>
                        <input type="text" name="id" id="id" value="{{ cadastro.id }}" style="display: none;">
                        {% endif %}
                        <button type="submit">
                            <img src="{% static 'icons/novo.png' %}" alt="">
                            <span>Salvar</span>
                        </button>
                        <div style="clear: both;"></div>
                    </div>
            
                    <div class="form-input" {% if cadastro != None %} style="display: none;" {% endif %}>
                        <input class="input" type="text" name="nome_turma" id="nome_turma" placeholder="Insira o nome da turma aqui" required
                        {% if cadastro != None %} value="{{ cadastro.disciplina_ministrada.turma.nome }}" {% endif %}>
                        <label for="nome_turma">Turma</label>
                    </div>
                    <div class="form-input" {% if cadastro != None %} style="display: none;" {% endif %}>
                        <input class="input" type="text" name="nome_disciplina" id="nome_disciplina" placeholder="Insira o nome da disciplina aqui" required
                        {% if cadastro != None %} value="{{ cadastro.disciplina_ministrada.disciplina.nome }}" {% endif %}>
                        <label for="nome_disciplina">Disciplina</label>
                    </div>

                    <div class="form-input-file">
                        <input class="input-file" type="file" name="documento" id="documento" accept=".pdf" required>
                        <label for="documento">Documento</label>
                    </div>
                    <div style="clear: both;"></div>
                </form>
        </section>
    </main>

    <!-- Footer, o rodapé da página -->
    <footer>
        <!-- Primeira seção do rodapé -->
        <section id="footer-section-1">
            <h2>Sobre</h2>
            <p>PIM do 4° Semestre</p>
            <p>Grupo: DS4.4</p>
        </section>

        <!-- Segunda seção do rodapé -->
        <section id="footer-section-2">
            <h2>Atribuições</h2>
            <p><a href="https://www.flaticon.com/br/icones-gratis/universidade" class="link" target="_blank">Favicon by Flaticon</a></p>
            <p><a href="https://www.freepik.com" class="link" target="_blank">Icons by Freepik</a></p>
        </section>
    </footer>
</body>
</html>