<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Analista de RH</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'icons/favicon.png'%}" type="image/x-icon">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/area.css'%}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/area_header.css'%}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/area_main.css'%}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/area_footer.css'%}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/area_do_analistarh.css'%}">
</head>
<body>
    <!-- Header, o cabeçalho da página -->
    <header>
        <!-- Ícone do sistema-->
        <div id="header-favicon">
            <img src="{% static 'icons/favicon.png'%}" alt="Íone da Universidade">
        </div>

        <!-- Título (h1) da página -->
        <div id="header-title">
            <h1>Área do Aluno</h1>
            <p>Olá, {{ aluno.nome }}!</p>
        </div>

        <!-- Botões do cabeçalho-->
        <div id="header-buttons">
            <!-- Botão sair (link para a rota no Back End) -->
            <div id="sair-button">
                <a href="{% url 'login:sair' %}">Sair</a>
            </div>
            
            <!-- Botão trocar de senha (link para a rota no Back End) -->
            <div id="trocar-de-senha-button">
                <a href="{% url 'login:mudar_senha_pag' %}">Trocar de Senha</a>
            </div>
        </div>

        <div class="clear"></div>
    </header>

    <!-- Main, onde fica todo o conteúdo principal da página -->
    <main>
        <section> <!-- Coloque o conteúdo dentro desta seção, pois ela é centralizada -->
            <div class="container"> 
                <div class="option-item">
                    <a href="{% url 'aluno:acessar_cursos'  %}">
                        <div class="option-item-icon">
                            <img src="{% static 'icons/favicon.png'%}" alt="">
                        </div>
                        <h2>Acessar Cursos</h2>
                    </a>
                </div>
                <div class="option-item">
                     <a href="{% url 'aluno:notas_e_faltas'  %}">
                        <div class="option-item-icon">
                            <img src="{% static 'icons/favicon.png'%}" alt="">
                        </div>
                        <h2>Notas e Faltas Semestrais</h2>
                    </a>
                </div>
                <div class="option-item">
                    <a href="{% url 'aluno:declaracao'  %}">
                        <div class="option-item-icon">
                            <img src="{% static 'icons/favicon.png'%}" alt="">
                        </div>
                        <h2>Emitir Declaração</h2>
                    </a>
                </div>
                <div class="option-item">
                    <a href="{% url 'aluno:historico'  %}">
                        <div class="option-item-icon">
                            <img src="{% static 'icons/favicon.png'%}" alt="">
                        </div>
                        <h2>Emitir Histórico Escolar</h2>
                    </a>
                </div>
                <div class="option-item">
                    <a href="{% url 'aluno:relatorio'  %}">
                        <div class="option-item-icon">
                            <img src="{% static 'icons/favicon.png'%}" alt="">
                        </div>
                        <h2>Emitir Relatório de Matricula</h2>
                    </a>
                </div>
                <div class="option-item">
                    <a href="{% url 'aluno:boletim'  %}">
                        <div class="option-item-icon">
                            <img src="{% static 'icons/favicon.png'%}" alt="">
                        </div>
                        <h2>Emitir Boletim</h2>
                    </a>
                </div>
        </section>
    </main>

    <!-- Footer, o rodapé da página -->
    <footer>
        <!-- Primeira seção do rodapé -->
        <section id="footer-section-1">
            <h2>Mapa do Site</h2>
            <p><a href="{% url 'login:mudar_senha_pag' %}" class="link">Trocar de senha</a></p>
            <p><a href="{% url 'login:sair' %}" class="link">Sair</a></p>
        </section>

        <!-- Segunda seção do rodapé -->
        <section id="footer-section-2">
            <h2>Atribuições</h2>
            <p><a href="#" class="link">site - favicon nome</a></p>
            <p><a href="#" class="link">site - menu itens</a></p>
        </section>
    </footer>
</body>
</html>
